extends ./_include/_layout

block var
  - pageId = "index"

block content
  body
    include ./_include/common/_gabody
    .wrap
      section.test
        h1 
          span.u-db [gulp + webpack + jQuery + pug + sass]
          span.u-db starter
        p.u-pt50-30.u-dib-di
          a(href="https://jws.work/", target="_blank") by JWS
      section.test.test-02
        h1 Animation & Modal
        .test__modal.u-mt20-20
          a.inline(href="#modal" data-modaal-type="inline" data-modaal-animation="fade") Modal
          div.u-mt20-20
            a(href="./under/") Under
      section.test
        h1 Slider
        .swiper-container.u-mb30-30
          .swiper-wrapper
            .swiper-slide <img src="http://placehold.jp/24/000000/ffffff/600x300.png?text=Slide 1">
            .swiper-slide <img src="http://placehold.jp/24/ffffff/000000/600x300.png?text=Slide 2">
            .swiper-slide <img src="http://placehold.jp/24/cccccc/ffffff/600x300.png?text=Slide 3">
    #modal(style="display:none;")
      p Modal