extends ./_include/_layout

block var
  - pageId = "index"

block content
  body
    include ./_include/common/_gabody
    .wrap
      .test
        h1 
          span.u-db [gulp + webpack + jquery + sass]
          span.u-db starter
        p.u-pt50-30.u-dib-di
          a(href="https://jws.work/", target="_blank") by JWS
        .test__mov
          video(src="./assets/images/videos/video.mp4" autoplay preload muted controls loop)